*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #917e7e;
}
body{
    background-color: rgb(116, 115, 115);
    padding: 0;
    margin: 0;
    text-align: center;
}
header{
    background-color: rgb(49, 37, 37);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 15px;
    border-radius: 15px;

}
h1{
    font-size: 30;
    margin-bottom: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    margin: auto 10px;
    font-size:15px ;
}
a:hover{
    color: aqua;
}

section{
    background-color: aliceblue;
    padding: 20px;
    border: 2px solid #ddd;
    width: 80%;
    display: inline-block;
    border-radius: 30px;
    margin: 15px auto;
}
h2{
    font-size: 20px;
    color: rgb(72, 109, 142);
    border-bottom: 1px solid black;
    display: inline-block;
}

ul li{
    list-style: none;
    background-color: rgb(223, 218, 212);
    margin: -4px;
    padding: 10px;
    border-radius:4px;
}
form{
    display:flex;
   text-align: left;
   justify-content: center;
   flex-direction: column;
   width: 50%;
}
label{
    font-family: 20px;
    margin: 10px;
    display: inline-block;
}